@if(!this.authService.isLoggedIn()){
<h2>Please enter your information to login to the application</h2>
<div [formGroup]="loginForm">
  <label for="username">Username:</label>
  <input type="text" formControlName="email" placeholder="Username" />
</div>

<div [formGroup]="loginForm">
  <label for="password">Password:</label>
  <input type="password" formControlName="password" placeholder="Password" />
</div>

<button (click)="login()">Login</button>
} @else {
<p>Welcome back!</p>
<button (click)="this.authService.logout()">Logout</button>
}
